// grayscales
$GRAY0: white;
$GRAY1: #eee;
$GRAY1D: #e4e4e4;
$GRAY2: #ddd;
$GRAY3: #ccc;
$GRAY4: #777;
$GRAY5: #333;
$GROUPED: #ecf2fb;

// ranking view
$RANKING_COLUMN_HEADER_HEIGHT: 100px;
$RANKING_CONTENT_HEIGHT: 260px;
$RANKING_FILTER_BAR_HEIGHT: 40px;
$RANKING_NAME_CELL_WIDTH: 200px;
$RANKING_LINEUP_ROW_HEIGHT: 30px;

$RANKING_LINEUP_BAR_COLOR: #cbdcea;
$RANKING_COLUMN_DELETE_BUTTON_COLOR: #e53935;
$RANKING_COLUMN_DELETE_BUTTON_ACTIVE_COLOR: #e57373;
